@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400&family=Manrope:wght@500&family=Poppins:wght@300&display=swap');
.logo-wraper{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;

    
}
.navbar-brand{
height: 100%;
width: 100%;
display: flex;
justify-content: center;
align-items: center;    
}
.img-wrap{
    display: flex;
    width: 20%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 5px;
}
.navbar-brand h6{
    font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 43.25px;
line-height: 34px;
/* or 78% */

display: flex;
align-items: center;

color: #FFFFFF;

}
.navbar-brand h6 a{
    text-decoration: none;
    color: white;
}
.nav-item-wrap{
    display: flex;
    width: 80%;
    height: 100%;
    justify-content: flex-end;


}
.navbar-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 40px;
}

  
.nav-item{
   
/* identical to box height, or 175% */

display: flex;
align-items: center;

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;

width: 61px;
height: 28px;
}
.nav-item a{

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    text-decoration: none;


}
.nav-item .nav-btn{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px 40px;
gap: 8px;

width: 128px;
height: 40px;

background: #FFFFFF;
border: 2px solid #FFFFFF;
border-radius: 24px;

/* Inside auto layout */

flex: none;
order: 3;
flex-grow: 0;

}
.nav-item  .nav-btn{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

display: flex;
align-items: center;

/* Dark Blue */

color: #0A2640;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.navbar-toggler{
        background-color: black;
}
.burger-wrap{
    display: none;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #fff;
    padding: 2rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out 0.5s;
}
  
  .sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .sidebar ul li a{
    text-decoration: none;
    color: black;
    font-size: 26px;
    line-height: 50px;
    font-family: "menrope";
    
  }
  .sidebar ul li a:hover{
    color: #0A2640;
  }
  
  .close-sidebar-btn {
    display: block;
    width: 100%;
    max-width: 280px;
    height: 40px;
    background-color: #333;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 16px;
  }
  
  .sidebar.show-sidebar {
    transform: translateX(0);
  }
  
  
@media (max-width: 768px) {
    .navbar{
      width: 100%;
    }
    .logo-wraper{
        width: 70%;
    }

    .burger-wrap {
        width: 20%;
        height: 100%;
        /* background-color: #e81d1d; */
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 2.5rem;
    }

  
    .navbar-nav{
        display: none;
    }

}